:root{
    --primary-col:  #FF5629;
    --secondary-col: #185a9d;
    --secondary-col-2: #6a2a9f;
    --primary-light-col-1: #FF967A;
    --primary-light-col-2: #FF7551;
    --primary-dark-col-1: #DE3104;
    --primary-dark-col-2: #AE2400;
    --light-col-1:	#FFFFFF;
    --light-col-2: 	#F0F0F0;
    --light-col-3: 	#E8E8E8;
    --light-col-4: 	#E0E0E0;
    --dark-col-1: #000000;
    --dark-col-2: #080800;
    --dark-col-4: #202020;
    --dark-col-3: #4b3636;
}
/* background: linear-gradient(to bottom, #43cea2, #185a9d); */
/* background: linear-gradient(to right, var(--primary-col), #c69dd1,var(--secondary-col-2)); */

/* Universal Styles */
::-webkit-scrollbar{
    width: 20px;
    background: linear-gradient(to bottom, var(--primary-col), #c69dd1,var(--secondary-col-2));
}
::-webkit-scrollbar-thumb{
    background: var(--primary-dark-col-1);
}
/* ::-webkit-scrollbar-button{
    background: var(--secondary-col);
} */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Muli', sans-serif;
    color: var(--dark-col-4);
    background: var(--light-col-4);
}
.container{
    width: 90%;
    margin: auto;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
a{
    text-decoration: none;
    color: var(--dark-col-2);
}
a:hover{
    cursor: pointer;
}
img{
    width: 60px;
    height: 60px;
}

/* Utility Classes */
.d-inline-block{
    display: inline-block;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-primary{
    color: var(--primary-col);
}
.text-primary-light-1{
    color: var(--primary-light-col-1);
}
.text-primary-light-2{
    color: var(--primary-light-col-2);
}
.text-primary-dark-1{
    color: var(--primary-dark-col-1);
}
.text-primary-dark-2{
    color: var(--primary-dark-col-2);
}
.text-dark-1{
    color: var(--dark-col-1);
}
.text-dark-2{
    color: var(--dark-col-2);
}
.text-dark-3{
    color: var(--dark-col-2);
}
.text-dark-4{
    color: var(--dark-col-4);
}
.text-light-1{
    color: var(--light-col-1);
}
.text-light-2{
    color: var(--light-col-2);
}
.text-light-3{
    color: var(--light-col-3);
}
.text-light-4{
    color: var(--light-col-4);
}
.bg-dark-1{
    background: var(--dark-col-1);
}
.bg-dark-2{
    background: var(--dark-col-2);
}
.bg-dark-3{
    background: var(--dark-col-2);
}
.bg-dark-4{
    background: var(--dark-col-4);
}
.bg-light-1{
    background: var(--light-col-1);
}
.bg-light-2{
    background: var(--light-col-2);
}
.bg-light-3{
    background: var(--light-col-3);
}
.bg-light-4{
    background: var(--light-col-4);
}
.btn{
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s all;
    border-radius: 0;
    cursor: pointer;
}
.btn-transparent{
    border: 3px solid var(--light-col-2);
    color: var(--light-col-2);
}
.btn-light{
    border: 3px solid var(--light-col-2);
    background: var(--light-col-2);
    color: var(--dark-col-2);
}
.btn-light:hover{
    border: 3px solid var(--dark-col-4);
    color: var(--light-col-2);
    background: var(--dark-col-4);
}
.btn-transparent:hover{
    border: 3px solid var(--light-col-2);
    background: var(--light-col-2);
    color: var(--dark-col-2);
}
.btn-primary{
    background: var(--primary-col);
    color: var(--light-col-2);
    border: 3px solid var(--primary-col);
}
.btn-primary:hover{
    background: var(--primary-dark-col-1);
    color: var(--light-col-2);
    border: 3px solid var(--primary-dark-col-1);
}
.btn-primary-dark-col-1{
    background: var(--primary-dark-col-1);
    color: var(--light-col-2);
    border: 3px solid var(--primary-dark-col-1);
}
.btn-primary-dark-col-1:hover{
    background: var(--primary-dark-col-2);
    color: var(--light-col-2);
    border: 3px solid var(--primary-dark-col-2);
}

/* Individual Styles */
#navbar{
    background: linear-gradient(to right, var(--primary-col), var(--secondary-col));
    background: linear-gradient(to right, var(--primary-col), #c69dd1,var(--secondary-col-2));
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
}
#navbar > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
}
#logo h1{
    margin: 10px 0;
    font-size: 1.5rem;
}
.social-media img{
    width: 30px;
    height: 30px;
}
#hamburger{
    display: flex;
    justify-content: end;
}
#hamburger img{
    width: 35px;
    height: 35px;
    margin: auto;
}
#overlay{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background: linear-gradient(to right, var(--primary-col), #c69dd1,var(--secondary-col-2));
    z-index: 2;
    overflow: hidden;
    transition: 1s all ease-in-out;
    opacity: 0.5;
}
#overlay img{
    width: 50px;
    height: 50px;
}
#overlay ul li{
    list-style: none;
    display: block;
    margin: 2rem 0;
}
#overlay ul li a{
    text-decoration: none;
    color: var(--light-col-1);
    font-size: 2.3rem;
}
#overlay ul li a:hover{
    color: var(--primary-col);
}
div#overlay.show{
    width: 100%;
    opacity: 1;
}
/* Close btn positioning */
#overlay #close-btn{
    position: absolute;
    right: 40px;
    top:10px
}

#showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("./../../Vendors/showcase.jpg") no-repeat center center/cover;
    background-attachment: fixed;
    text-align: center;
    color: var(--light-col-1);
    position: relative;
}
#showcase h1{
    font-size: 3rem;
}
#showcase:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--primary-col), var(--secondary-col));
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    /* increase opacity to get increased overlay */
}
#showcase > div{
    position: absolute;
    z-index: 1;
}
#scrolldown img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 3rem 0;
}


/* Comment two styles forward to get grey layout */
/* #projects,#projects-heading{
    background: linear-gradient(to right, var(--primary-col), #c69dd1,var(--secondary-col-2));

}
#projects h2,#projects-heading{
    margin: 0;
    padding: 1.5rem 0;
} */


.project{
    display: flex;
    justify-content: space-around;
}
.project-img{
    width: 60%;
    border: 10px solid var(--light-col-3);
}
.project-img img{
    width: 100%;
    height: auto;
}
.project-content{
    background: var(--light-col-1);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-content img{
    width: 100px;
    height: 100px;
}

#contact{
    padding: 10px 0;
    margin: 4rem 0 0 0;
}
#contact input,#contact textarea{
    border: none;
    padding: 1.2rem 0.8rem;
    margin: 0.4rem;
    width: 100%;
    display: block;
    border-radius: 0;
}
#contact input:focus,
#contact textarea:focus
{
    outline: 2px solid var(--primary-col);
}

#main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
#main-footer img{
    height: 50px;
    width: 50px; 
}

/* Services */
#services{

}
#services h2{
    margin: 0;
}
#services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
    gap: 50px;
}
#services img{
    width: 250px;
    height: 250px;
}
#services .service{
    padding: 2rem;
}
.service{
    position: relative;
}
.step-process{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--primary-col);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    margin-top: -15px;
    margin-left: -15px;
}

/* About */
#about{
}
#about #avatar{
    margin-top: 3rem;
    width: 300px;
    height: 300px;
}

#skills .skill{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}
#about #skills img{
    width: 150px;
    height:150px;
}
#skills .skill .progress{
    background: var(--primary-col);
    height: 10px;
}
#skills .skill:nth-child(1) .progress{
    width: 80%;
}
#skills .skill:nth-child(2) .progress{
    width: 75%;
}
#skills .skill:nth-child(3) .progress{
    width: 70%;
}
@media only screen and (max-width:1210px){
    #projects .project-btns a{
        display: block;
    }
    #projects .project{
        flex-direction: column;
        margin-bottom: 5rem;
    }
    #projects .project>div{
        width: 100%;
    }
}
@media only screen and (max-width:768px){
    #navbar .social-media{
        display: none;
    }
    #overlay #close-btn{
        right: 18px;
    }
    #projects .project-content img{
        width: 80px;
        height: 80px;
    }
    #projects .project-btns{
        margin: 2rem 0 0 0;
    }
    #projects .project-btns a{
        display: inline;
    }
    #main-footer .social-media img{
        width: 35px;
        height: 35px;
    }
    #skills .skill:nth-child(1) .progress{
        width: 60%;
    }
    #skills .skill:nth-child(2) .progress{
        width: 55%;
    }
    #skills .skill:nth-child(3) .progress{
        width: 50%;
    }
}
@media only screen and (max-width:360px){
    #projects .project-btns a{
        display: block;
    }
}
@media only screen and (max-width:320px){
    .btn{
        display: block;
    }
}